.product-details{
    display: flex;
    padding: 1%;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.product-img{
    width: 30%;
    margin-left: 2%;
}
.product-description{
    width: 60%;
}
.product-img img{
    width: 80%;
}
.product-info{
    display: flex;
}
.product-info-div1{
    width: 50%;
}
.product-info-div2{
    width: 50%;
}
.btn-add-cart{
    width: 150px;
    padding: 5px;
    margin-top: 10px;
    background-color: orange;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}
